/* Generic dialog */

.dialog {
    background-color: rgba(245, 245, 245, 0.9); /* #F5F5F5 with 90% opacity */
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    border: none;
    border-radius: 2px;
    top: -100%;
    padding: 10px 10px 30px 10px;
    display: block;
    transition: all 1s ease-in-out;
    opacity: 0;
    color: #212121;
    position: absolute;
    left: 0;
    right: 0;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.dialog.open {
    top: 5%;
    opacity: 1;
}

.dialog button {
    margin-top: 50px;
}

/* Game Over dialog */

.dialog#gameover h2 {
    margin-bottom: 0;
}

.dialog#gameover .winner {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.dialog#gameover .winner[data-winner="X"] {
    background-image: url(../img/player_X.svg);
}

.dialog#gameover .winner[data-winner="O"] {
    background-image: url(../img/player_O.svg);
}

.dialog#gameover .winner[data-winner="D"] {
    background-image: url(../img/player_D.svg);
}

/* Konami mode */

.konami .dialog#gameover .winner[data-winner="X"] {
    background-image: url(../img/player_X_k.svg);
}

.konami .dialog#gameover .winner[data-winner="O"] {
    background-image: url(../img/player_O_k.svg);
}

.konami .dialog#gameover .winner[data-winner="D"] {
    background-image: url(../img/player_D_k.svg);
}

/* Settings dialog */

.dialog#settings {
    padding-left: 50px;
    padding-right: 50px;
}

.dialog#settings label {
    display: block;
    height: 50px;
    text-align: right;
    margin-bottom: 30px;
}

.dialog#settings label input {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
}

.dialog#settings input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.dialog#settings input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

.dialog#settings select {
    background-color: white;
    border-radius: 2px;
    padding: 0;
    border: none;
    font-family: "Roboto", sans-serif;
}

.dialog#settings label#opponent-csshacks {
    padding-top: 20px;
    height: 0;
}

/* Scores dialog */

.dialog#scores > div {
    display: flex;
    flex-direction: row;
}

.dialog#scores div:not(:last-child) {
    margin-bottom: 20px;
}

.dialog#scores > div > div.score {
    flex: 1;
}

.dialog#scores .icon {
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
}

.dialog#scores .icon[data-icon="X"] {
    background-image: url(../img/player_X.svg);
}

.dialog#scores .icon[data-icon="O"] {
    background-image: url(../img/player_O.svg);
}

.dialog#scores .icon[data-icon="D"] {
    background-image: url(../img/player_D.svg);
}

.dialog#scores .score {
    font-size: 48px;
    font-weight: bold;
    text-align: right;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 10px;
}