nav {
    width: calc(100% - 30px);
    height: 30px;
    padding: 15px;
    background-color: #00BCD4;
    color: #FAFAFA;
    box-shadow: 0 0 10px #757575;
    position: absolute;
    bottom: 0;
}

body[ready="true"] nav {
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid;
    padding-bottom: 4px;
}

nav article {
    margin-top: 5px;
}

nav aside {
    float: right;
    margin-top: 5px;
}

nav aside a:first-child {
    margin-right: 2px;
}

nav aside a:last-child {
    margin-left: 2px;
}

nav aside a:not(:first-child):not(:last-child) {
    margin-left: 2px;
    margin-right: 2px;
}

@media (max-width: 600px) {
    nav aside {
        position: absolute;
        bottom: 65px;
        transition: all 0.5s ease-in-out;
    }

    nav aside a {
        color: rgba(0, 0, 0, 0.4);
    }

    nav a:hover {
        border-bottom: none;
        padding-bottom: 0;
    }

    nav:not(:focus) aside {
        visibility: hidden;
        left: -100%;
    }

    nav:focus aside {
        visibility: visible;
        left: 10px;
    }
}

/* Buttons */

nav button {
    background-color: #EEEEEE;
    color: #212121;
    display: inline-block;
    margin-left: 5px;
    margin-top: -12px;
    position: relative;
    top: 4px;
}

nav button:hover {
    background-color: #F5F5F5;
}

@media (max-width: 500px) {
    nav button {
        position: absolute;
        top: -12px;
        right: 15px;
    }
}
